@import "tailwindcss";

@layer base {
  /* .container {
    margin: 0;
  } */

  body {
    font-family: "Charis SIL", serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid;
  }

  h1 {
    padding-top: 2rem;
  }
}

@theme {
  --font-twitch: "Inter", sans-serif;

  --color-medium-purple-50: #f9f5ff;
  --color-medium-purple-100: #f1e7ff;
  --color-medium-purple-200: #e5d4ff;
  --color-medium-purple-300: #d0b2ff;
  --color-medium-purple-400: #a970ff;
  --color-medium-purple-500: #9751fb;
  --color-medium-purple-600: #7f2eef;
  --color-medium-purple-700: #6c1ed2;
  --color-medium-purple-800: #5d1eab;
  --color-medium-purple-900: #4d198a;
  --color-medium-purple-950: #310566;
}

/* Twitch fonts info
--font-base: "Inter", "Noto Sans Arabic", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Roobert",  "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-mono: monospace; */
